<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pola's chess</title>


	<!-- STYLES -->
	<link rel="stylesheet" href="stylesheets/app.css">

	<!-- JS -->


</head>
<body>

	Pola's chess rendering!

	
	<div class="container">
		<canvas id="board-canvas" width="800" height="800"></canvas>
	</div>
	<div class="container">
		<button onclick="ApplyFen()">Apply a position (FEN)</button>
		<input id="fen-input" type="text" value="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1">

	</div>
	<script src="javascripts/app.js"></script>
</body>
</html>