<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pola's chess</title>


	<!-- STYLES -->
	<link rel="stylesheet" href="stylesheets/app.css">

	<!-- JS -->


</head>
<body>
	<br/><br/><br/><br/>
	<div class="container">
		<canvas id="board-canvas" width="800" height="800" class="board main-element"></canvas>
		<div class="side-menu main-element">
			<div class="side-button" style="display: inline;">flip</div>
			<div class="side-button" style="display: inline;">board edit</div>
			<div class="side-history" style="display: block;">
				<div class="side-history-table roboto-regular" id="side-history-table">
				</div>
			</div>
		</div>

	</div>
	<div class="container">
		<button id="apply-fen-button">Apply a position (FEN)</button>
		<input id="fen-input" type="text" value="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1">
	</div>


	</div>
	<div id="board-edit-container" class="container" style="display: none;">
		<div id="bedit-delete" class="bedit-button"><img src="/images/delete.svg" class="bedit-icon filter-invert" alt="delete"></div>
		<div id="bedit-move" class="bedit-button"><img src="/images/cursor.svg" class="bedit-icon filter-invert" alt="move" style="width: 60px; height: 60px; margin-top: 10px"></div>
		<div id="bedit-king" class="bedit-button"><img src="" class="bedit-icon" alt="king"></div>
		<div id="bedit-queen" class="bedit-button"><img src="" class="bedit-icon" alt="queen"></div>
		<div id="bedit-rook" class="bedit-button"><img src="" class="bedit-icon" alt="rook"></div>
		<div id="bedit-bishop" class="bedit-button"><img src="" class="bedit-icon" alt="bishop"></div>
		<div id="bedit-knight" class="bedit-button"><img src="" class="bedit-icon" alt="knight"></div>
		<div id="bedit-pawn" class="bedit-button"><img src="" class="bedit-icon" alt="pawn"></div>
		<div id="bedit-color-toggle" class="bedit-button" style="background-color: rgb(228, 228, 228); color: rgb(36, 36, 36)"><img src="/images/color-light.svg" class="bedit-icon" alt="color"></div>
	</div>
	<script type="module" src="javascripts/app.js"></script>
</body>
</html>