@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  color: rgb(240, 240, 240);
  font-family: "Roboto", serif;
  font-size: medium;

}

a {

  text-decoration: none;
}

.roboto-regular{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  background-color: rgb(27, 27, 27);
  transition: all 0.3s;
  border: 4px;
  border-radius: 4px;
  padding: 8px;
  font-size: small;
  margin: 8px;
  color: white;
  width: 550px;
}

input:hover{
  background-color: rgb(10, 10, 10);
}

button{
  background-color: rgb(83, 83, 83);
  border: solid rgb(37, 37, 37) 2px;
  border-radius: 4px;
  padding: 8px;
  font-size: small;
  margin: 8px;
  color: white;
  width: 220px;
}

#board-canvas{
  border: 2px solid #646464;
  border-radius: 8px;
}

.bedit-button{
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 4px;
  background-color: rgb(83, 83, 83);
  transition: all 0.2s;
  border: solid rgb(37, 37, 37) 2px;
  border-radius: 8px;
  margin: 4px;
}

.bedit-button:hover{
  background-color: rgb(70, 70, 70);
}

.bedit-icon{
  width: 80px;
  height: 80px;
}

.filter-invert{
  filter: invert();
}

.bedit-button:active{
  background-color: rgb(53, 53, 53);
}


.side-menu{
  transform : translate(5%, 0);
  height: 50vh;
  width: 20vw;
  background-color: #353535;
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
  font-size: small;
}

.side-button{
  background-color: rgb(34, 34, 34);
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px 16px;
}

.side-history{
  background-color: rgb(34, 34, 34);
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
  margin-top: 8px;
  height: 90%;
  overflow-y: auto;

}

.side-history-table{
  width: 100%;
  overflow-y: auto;
}

.history-row{
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.history-index{
  position: relative;
  width: 10%;
  background-color: #353535;
  padding: 4px;
  text-align: center;
}

.history-move{
  position: relative;
  width: 40%;
  padding: 4px;
  border: 2px solid black;
}

.history-move-highlighted{
  background-color: #646464 !important;
}
