<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pola's chess</title>


	<!-- STYLES -->
	<link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/position-minigame.css">

	<!-- JS -->
    <script type="module" src="javascripts/minigame.js"></script>

</head>
<body>	
	<div class="container">
		<canvas id="board-canvas" width="800" height="800"></canvas>
	</div>
   
	<div class="container">
		<input id="guess-input" type="text" value="">
	</div>
    <div class="container">
        <button onclick="StartMiniGame()">Start the mini-game</button>
	</div>

</body>
</html>